$primary: #6fb3db;
$primaryLight: rgb(191, 203, 216);
$primaryDark: #54c4c4;
$secondary: #fff45f;
$secondaryLight: #8afff5;
$secondaryDark: #55e2d6;
$tertiary: #7186ff;
$accent: #c2a75e;
$accentLight: #c5ad79;
$accentDark: #9e924e;
$light: white;
$neutral: grey;
$dark: black;
